.grid {
  width: 300px;
  height: 100px;
}

body {overflow: hidden;}

.grid > button:first-child {
  position: relative;
  left:0px;
}
.grid > button:nth-child(2) {
  position: relative;
  left:0px;
}
.grid > button:nth-child(3) {
  position: relative;
  left:0px;
}

.button {
  width:100px;
  height:100px;
  border-radius: 50px;
  background-color:red;
  color:white;
}
@keyframes spin {
  0% {rotate:0deg;width:100px;white-space: pre;z-index:1;
  height:100px;border-radius: 50px; width:100px;
  height:100px;}
  50% {rotate:360deg; background-color:blue;width:100px;white-space: pre;
  height:100px;border-radius: 50px; width:100px;z-index:1;
  height:100px;}
  /*75% {rotate:360deg; background-color:blue;  position: relative;white-space: pre;
  left:0px;border-radius: 25px;}*/
  75.01% {rotate:360deg; background-color:blue;  position: relative;
  left:0px;width:99vw;height:100vh;border-radius: 25px;z-index:1;}
  100% {rotate:360deg; z-index:1;
        white-space: pre;background-color:blue ;z-index:1; position: absolute; left:0px;top:0px;width:100vw;height:100vh;border-radius: 0px;}
}
.button:focus {
  animation-name: spin;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index:1;
}

#btn6:focus {
    background-image: url("assets/themoreyouknow.gif");
}
#btn1:focus {
    background-image: url("assets/1000iq.gif");
}
#btn8:focus {
    background-image: url("assets/bill-nye-the-science-guy.gif");
}
#btn7:focus {
    background-image: url("assets/nuke.gif");
}

#btn2:focus {
    background-image: url("assets/android.png");
}
#btn5:focus {
    background-image: url("assets/sus.gif");
}

.bigb {
  width:300px;
  height:300px;
  border-radius: 150px;
  background-color:red;
  color:white;
}
